.azeret-mono-fontMania {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  border: 0;
  margin: 0;
  font-family: "Azeret Mono", monospace;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  padding: 0 50px;
  max-width: 1280px;
  align-items: center;
}

.nav-section .nav-title {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0;
}

.nav-section .nav-button {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0;
  padding: 17px 24px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
}

.banner {
  background-image: url('./assets/Hero-bg.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 100px;
  /* max-width: 1280px; */
  /* max-height: fit-content; */
  margin: 0 auto 74px;
}

.banner .banner-img {
  margin-bottom: 32px;
}

.banner .banner-aim {
  margin-bottom: 24px;
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0;
  text-align: center;
}

.banner .banner-my-way {
  margin-bottom: 32px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  opacity: 0.7;
}

.banner .banner-btn {
  border-radius: 8px;
  background: rgb(13, 19, 33);
  cursor: pointer;
  padding: 21px 24px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
  color: rgb(255, 255, 255);
}

.why-development {
  padding: 80px 40px;
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin : 30px;
}

.why-development .why-development-title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 24px;
}

.why-development .why-development-text {
  height: 113px;
  width : 852px ;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  opacity: 0.7;
  padding : 24px 47px 48px;
  margin-left : 40px ;
}

.why-development .why-development-section1 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  padding: 48px;
}

.why-development-portion{
  height : 140px ;
  width : 477px;
}

.why-development-img{
  margin-top: 60px;
  margin-left: 40px;
}

.second-image{
  margin-right : 60px;
}
.why-development .why-development-section1 .why-development-title1 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0;
  text-align: left;
}

.why-development .why-development-section1 .why-development-text1 {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 32px;
}

.why-development .why-development-section1 .why-development-btn1 {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}

.why-development .why-development-section1 .why-development-btn1 .btn-text1 {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0;
  text-align: center;
  padding : 13px 28px;
}

.my-inspiration{
  margin-top: 100px;
  margin-bottom: 150px;
}

.my-inspiration-title{
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px 144px 24px;
}

.my-inspiration-text{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 144px 48px;
}


.my-current-title{
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}


.my-inspiration-section{
  margin-left: 40px;
}

.video-section{
  align-items: center;
  justify-content: center ;
  margin-left: 110px;
}

.my-inspiration-video{
  align-items: center;
margin-left: 10px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
padding: 16px;  
width: 825px;
height: 425px ;
overflow: hidden; 
margin-left: 30px;
}

.my-inspiration-video iframe {
  align-items: left;
  width: 800px; 
  height: 400px; 
  border: none; 
}


.my-current-target-text{
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 144px 48px;
}

.my-current-cards{
  display: flex;
  flex-direction: row;
  margin : 0px 150px 111px;
  gap: 24px;
}

.my-current-card1{
  width: 364px;
  height: 299px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
}

.card-title{
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 15px;
}

.card-text{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 20px;
}

.card-btn{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  cursor: pointer;
}

.my-current-card2{
  width: 364px;
  height: 299px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  padding: 40px;
}

.my-current-card3{
  width: 364px;
  height: 299px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
}


.my-next-target{
  display: flex; 
  flex-direction: column;
  margin-bottom: 39px;
}

.my-next-target-title{
  color: rgb(13, 19, 33);
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  margin-top: 25px;
  margin-bottom: 15px;
}

.my-next-target-text{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin : 0 148px 44px ;
}

.next-target-card1{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  margin: 0px 150px;
  padding: 40px;
  margin-bottom: 20px;
}

.target-card-title{
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px ;
}

.target-card-text{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 17px;
}

.target-card-btn{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.target-card-img{
  margin-right : 24px;
}

.support-me{
  margin-left: 60px;
}


.need-support{
  width: 1140px;
  height: 313px;
  border-radius: 16px;
  /* background: rgba(0, 0, 0, 0.2) url('./assets/handshake.jpg') center/cover 
  no-repeat; */
  margin-left: 30px;
  background: 
  linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
  ), 
  url('./assets/handshake.jpg') center/cover no-repeat;

  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

.need-support-title{
  margin : 0 150px ;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 45px;
} 

.need-support-text{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 30px;
}

.need-support-btn{
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}

.take-feedback{
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-left: 250px;
}


.feedback-input{
  width: 50%; 
  padding: 15px 20px;
  font-size: 18px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 
  margin-right: 10px; 
  box-sizing: border-box; 
}

.need-support-btn{
  border-radius: 8px;
  background: rgb(255, 255, 255);
  padding: 17px 20px 17px 20px;
  margin: 20px 0 0 10px;
}

.footer-component{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 80px 80px 30px 150px ;
}

.commitment{
  margin-top: 7px;
}

.social-icons{
  margin-right: 45px;
}

.social-icon{
  margin-left : 15px;
}