.azeret-mono-fontMania {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  border: 0;
  margin: 0;
  font-family: "Azeret Mono", monospace;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  padding: 0 50px;
  max-width: 1280px;
  align-items: center;
}

.nav-section .nav-title {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0;
}
